<ion-header>
    <ion-toolbar class="ion-color">
        <ion-title size="medium">
            Abonar Saldo
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <form ion-background="ion-color-primary">
        <div>
            <ion-item lines="full">
                <ion-label class="text-input text-important text-right" position="fa-align-right">Saldo disponible: <span class="text-money">{{ saldo }},00</span></ion-label>
            </ion-item>


            <ion-item lines="full">
                <ion-label class="text-input" position="floating">N° referencia</ion-label>
                <ion-input type="number"></ion-input>
            </ion-item>

            <ion-item lines="full">
                <ion-label class="text-input" position="floating">Monto</ion-label>
                <ion-input id="montoRestar" type="number"></ion-input>
            </ion-item>

            <ion-item lines="full">
                <ion-label class="text-input" position="floating">Fecha</ion-label>
                <ion-input type="date" placeholder="00/00/0000"></ion-input>
            </ion-item>

            <ion-item lines="full">
                <ion-label class="text-input" position="floating">Banco</ion-label>
                <ion-select>
                    <ion-select-option>Banesco</ion-select-option>
                    <ion-select-option>Mercantil</ion-select-option>
                    <ion-select-option>BOD</ion-select-option>
                    <ion-select-option>Banco de Venezuela</ion-select-option>
                    <ion-select-option>Bicentenario</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-row>
                <ion-col>
                    <ion-button (click)="abonar()" type="submit" class="primary-buttom" expand="block">
                        Abonar Saldo
                    </ion-button>
                </ion-col>
            </ion-row>

        </div>
    </form>
</ion-content>