.text-input {
    font-size: 70%;
}

.primary-buttom {
    color: white;
}

.toolbar {
    color: azure;
}

.padding-toolbar {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    margin-top: 70px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}