<ion-header>
    <div class="logo">
        <img width="70%" src="../../assets/images/logo.jpg" alt="image">
    </div>
</ion-header>



<ion-content [fullscreen]="true">

    <form>
        <ion-item lines="full">
            <ion-label class="text-input" position="floating">Email</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>

        <ion-item lines="full">
            <ion-label class="text-input" position="floating">Password</ion-label>
            <ion-input type="password" required></ion-input>
        </ion-item>

        <ion-row>
            <ion-col>
                <ion-button type="submit" class="primary-buttom" expand="block">Iniciar</ion-button>
                <a [routerLink]="['/forgot-password']" class="small-text text-input">Olvide Password?</a>
            </ion-col>
        </ion-row>

    </form>
</ion-content>