.text-input {
    font-size: 70%;
}

.text-important {
    color: #24a4ff;
    font-weight: 600;
}

.text-money {
    color: white;
    font-weight: 600;
    font-size: 140%;
}

.text-right {
    text-align: right;
}

.background-1 {
    background-color: aquamarine;
}

.text-input {
    font-size: 70%;
}

.primary-buttom {
    color: white;
}

.toolbar {
    color: azure;
}

.padding-toolbar {
    padding-top: 20px;
    padding-bottom: 20px;
}