<ion-header>
    <ion-toolbar class="ion-color">
        <ion-title size="medium">
            Recargar Saldo
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <form>
        <div>
            <ion-item lines="full">
                <ion-label class="text-input text-important text-right" position="fa-align-right">Saldo disponible: <span class="text-money">{{ saldo }},00</span></ion-label>
            </ion-item>

            <ion-item lines="full">
                <ion-label class="text-input" position="floating">Operadora</ion-label>
                <ion-select>
                    <ion-select-option>414</ion-select-option>
                    <ion-select-option>424</ion-select-option>
                    <ion-select-option>416</ion-select-option>
                    <ion-select-option>426</ion-select-option>
                    <ion-select-option>412</ion-select-option>
                    <ion-select-option>212</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item lines="full">
                <ion-label class="text-input" position="floating">N° Telefonico</ion-label>
                <ion-input type="tel" maxlength="7"></ion-input>
            </ion-item>

            <ion-item lines="full">
                <ion-label class="text-input" position="floating">Monto de recarga</ion-label>
                <ion-input id="montoRestar" type="number"></ion-input>
            </ion-item>

            <ion-row>
                <ion-col>
                    <ion-button (click)="recargar()" type="submit" class="primary-buttom" expand="block">
                        Recargar Saldo
                    </ion-button>
                </ion-col>
            </ion-row>

        </div>
    </form>
</ion-content>